{% load static %}
<nav class="navbar navbar-dark navbar-expand-lg m-0" style="background-color: #21266e;">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 font-weight-bold font-italic">
    <a class="nav-link text-white" href="{% url 'mytube_list' %}">My Tube</a></span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item px-2">
          <a class="nav-link text-white" href="{% url 'mytube_list' %}">올튭</a></li>

        <li class="nav-item px-2">
          <a class="nav-link text-white" href="{% url 'mytube_list' %}category/걸그룹/">걸그룹</a></li>
        <li class="nav-item px-2">
          <a class="nav-link text-white" href="{% url 'mytube_list' %}category/여가수/">여가수</a></li>
        <li class="nav-item px-2">
          <a class="nav-link text-white" href="{% url 'mytube_list' %}category/여배우/">여배우</a></li>            
      </ul>
    </div>
  </div>
</nav>
